.social {
  &-list {
    display: flex;
    justify-content: flex-end;
  }

  &-versions {
    margin-top: 5px;
    text-align: right;
  }

  &-icon-btn {
    width: 34px;
    height: 34px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 0;
    cursor: pointer;

    &:hover {
      filter: brightness(110%);
    }
  }
}

.facebook {
  background-image: url("../../../../public/facebook.png");
}

.youtube {
  background-image: url("../../../../public/youtube.png");
}

.google {
  background-image: url("../../../../public/google.png");
}

.zalo {
  background-image: url("../../../../public/zalo.png");
}
