.hot-artists-wrapper {
  grid-area: hot-artists;

  &-inner {
    display: grid;
    grid-template-columns: 210px 430px;
    grid-column-gap: 10px;

    .artist-small {
      display: grid;
      grid-template: repeat(2, 100px) / repeat(4, 100px);
      grid-gap: 10px;
    }
  }
}
