@import "../../../../styles/mixins";

.tracking-wrapper {
  @include perfect-center;

  height: 100%;
  font-size: 1.5rem;
  background-color: #c3c3c3;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}
