@import "../../../styles/mixins";

.partner-wrapper {
  grid-column: 1/4;
  grid-row: 24 / span 1;

  &-inner {
    @include perfect-center;

    height: 100%;
    background-color: #eb23e3;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
  }
}
