.number-wrapper {
  font-family: $secondaryFont;
  font-weight: 500;
  font-size: 12px;

  .top-1 {
    color: #4a90e2;
  }

  .top-2 {
    color: #24a364;
  }

  .top-3 {
    color: #b2541c;
  }

  .number-large {
    font-size: 18px;
  }
}
