.home {
  &-wrapper {
    max-width: $container;
    margin: 0 auto;
    background-color: #fff;
    font-family: $primaryFont;
  }

  &-wrapper-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 300px;
    grid-column-gap: 20px;
    grid-template-rows:
      30px 95px 25px 165px 30px 365px 35px
      490px 40px 40px 515px 25px 10px 40px
      600px 40px 50px 30px 470px 25px 25px
      180px 30px 40px;
    padding: 10px 15px;
  }
}
