.home-wrapper {
  max-width: 1016px;
  margin: 0 auto;
  background-color: #fff;

  &-inner {
    display: grid;
    grid-column-gap: 20px;
    padding: 10px 15px;
    grid-template:
      [row1-start] ". . playlist" 30px [row1-end]
      [row2-start] "chart-ranking chart-ranking playlist" 95px [row2-end]
      [row3-start] "chart-ranking chart-ranking ." 25px [row3-end]
      [row4-start] "chart-ranking chart-ranking hot-topic" 165px [row4-end]
      [row5-start] "chart-ranking chart-ranking ." 30px [row5-end]
      [row6-start] "chart-ranking chart-ranking song-ranking" 365px [row6-end]
      [row7-start] ". . song-ranking" 35px [row7-end]
      [row8-start] "today-selection today-selection song-ranking" 490px [row8-end]
      [row9-start] ". . ." 40px [row9-end]
      [row10-start] ". . mv-ranking" 40px [row10-end]
      [row11-start] "hot-video hot-video mv-ranking" 515px [row11-end]
      [row12-start] ". . mv-ranking" 25px [row12-end]
      [row13-start] "hot-album hot-album mv-ranking" 10px [row13-end]
      [row14-start] "hot-album hot-album ." 40px [row14-end]
      [row15-start] "hot-album hot-album album-ranking" 650px [row15-end]
      [row16-start] ". . album-ranking" 30px [row16-end]
      [row17-start] ". new-songs album-ranking" 100px [row17-end]
      [row18-start] ". new-songs ." 30px [row18-end]
      [row19-start] ". new-songs news" 570px [row19-end]
      [row20-start] ". . news" 25px [row20-end]
      [row21-start] "hot-artists hot-artists news" 25px [row21-end]
      [row22-start] "hot-artists hot-artists ." 230px [row22-end]
      [row23-start] ". . ." 50px [row23-end]
      [row24-start] "partners partners partners" 40px [row24-end]
      [row25-start] ". . . " 30px [row25-end]
      / 1fr 1fr 300px;
  }
}
