@import "../../styles/mixins";

.header {
  background-color: #000;
  height: 2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  @include centerHV;
}
