@import "../../styles/mixins";


.navbar-wrapper {
  transition: all 0.2s linear;
  background-color: #e4e4e4;

  &-inner {
    @include content-wrapper;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}