.song-infor-wrapper {
  text-align: left;

  .song-infor-name {
    margin-bottom: 0;

    a {
      line-height: 20px;
      font-size: 14px;
    }
  }

  .song-infor-artists {
    display: flex;
    line-height: 17px;
    font-size: 12px;
  }

  a:hover {
    color: $secondaryColor;
  }
}

.dark-text {
  .song-infor-name a {
    color: $thirdColor;
  }

  .song-infor-artists a {
    color: #888;
  }

  a:hover {
    color: $secondaryColor;
  }
}

.wrap-text {
  .song-infor-name a {
    @include text-wrapper;
  }
}
