.component-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 18px;

  .title-wrapper {
    display: flex;
    color: #800080;

    .title-content {
      font-family: $primaryFont;
      font-weight: 300;
      text-transform: uppercase;
      color: #800080;
    }
  }

  .title-icon {
    font-size: 25px;
    cursor: pointer;

    &:hover {
      color: #800080;
    }
  }
}

.size-large {
  font-size: 26px;
}
