.ranking-song-wrapper {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ranking-song-minus {
      margin: 0 30px;
    }

    .ranking-song-desc {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .ranking-song-info {
        margin-left: 10px;
      }
    }

    .ranking-song-tools {
      @include absolute-center("top");

      right: 0;
    }
  }
}
