@import "../../styles/mixins";

.footer {
  background-color: #000;
  height: 120px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  @include centerHV;
}
