.topic-wrapper {
  .topic-title {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 18px;
    font-family: $primaryFont;
    text-transform: uppercase;
    color: $titleColor;
  }

  .topic-others {
    color: #888;

    &:hover {
      color: $titleColor;
    }
  }

  .topic-thumbnail {
    padding-bottom: 15px;
  }
}
