@import "../../../../styles/mixins";

.topic-wrapper {
  @include perfect-center;

  height: 100%;
  background-color: #ff7f27;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
