.footer {
  &-wrapper {
    width: 100%;
    background-color: #222428;
    font-size: 12px;
    color: #fff;
  }

  &-wrapper-inner {
    @include content-wrapper;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }


  &-link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px 20px;

    a {
      font-weight: 300;
      color: #ddd;
    }
  }
}



.social {
  &-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.versions {
  margin-top: 5px;
  text-align: right;
}

.icon {
  width: 34px;
  height: 34px;
  margin-left: 8px;
  margin-bottom: 5px;
  font-size: 0;
  cursor: pointer;

  &:hover{
    filter: brightness(110%);
  }
}

.facebook {
  background-image: url("../../public/static/facebook.png");
}

.youtube {
  background-image: url("../../public/static/youtube.png");
}

.google {
  background-image: url("../../public/static/google.png");
}

.zalo {
  background-image: url("../../public/static/zalo.png");
}
