.desc-wrapper {
  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $secondaryFont;

    .desc-ranking {
      margin: 10px;
      font-size: 20px;
    }

    .desc-content {
      flex-grow: 1;
      text-align: left;

      .desc-name a {
        line-height: 20px;
        font-size: 14px;
      }

      .desc-artists {
        display: flex;
        line-height: 17px;
        font-size: 12px;
      }

      a:hover {
        color: $secondaryColor;
      }
    }

    .desc-tools{
      position: absolute;
      right: 0;
    }
  }
}

.normal {
  margin-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 10px 15px 0;

  .desc-ranking {
    color: $thirdColor;
  }

  .desc-content {
    .desc-name a {
      color: $thirdColor;
    }

    .desc-artists a {
      color: #333;
    }

    a:hover {
      color: $secondaryColor;
    }
  }
}
