.header {
  &-wrapper {
    transition: all 0.2s linear;
    background-color: #1c1c1c;
  }

  &-wrapper-inner {
    @include content-wrapper;

    display: flex;
    align-items: center;
  }

  &-logo {
    width: 185px;
  }

  &-content {
    display: flex;
    align-items: baseline;
    flex-grow: 2;
  }

  &-search {
    position: relative;
    width: 355px;
    margin-top: 10px;
    margin-right: 10px;
  }

  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  &-menu-item {
    text-transform: uppercase;

    a {
      padding: 0 10px;
      line-height: 50px;
    }

    &:hover a {
      background-color: #000;
      color: #a845de;
    }

    &:first-child a {
      background-color: #000;
      color: #a845de;
    }
  }

  &-auth {
    line-height: 50px;

    &:hover a {
      text-decoration: underline;
    }
  }
}

.search {
  &-input {
    border: 0 none;
    height: 29px;
    width: 100%;
    padding: 5px 15px;
    outline: none;
    font-size: 14px;
  }

  &-btn {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 29px;
    background-color: #fff;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  &-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 0;
    padding: 0;
    color: transparent;
    background-color: transparent;
    background-image: url("../../public/static/search.png");
    background-repeat: no-repeat;
    font-size: 0;
    cursor: pointer;
  }
}
