$primary-color: #c7b1d1;
$secondary-color: #a100a1;
$third-color: #fff;
$title-color: #a100a1;
$text-color: #333;
$primary-font: "Open Sans","segoe ui",helvetica,arial,sans-serif;
$secondary-font: "Roboto","segoe ui",helvetica,arial,sans-serif;
$wrapper: 1920px;
$container: 1200px;