.new-songs-wrapper {
  position: relative;
  grid-area: new-songs;
  padding-left: 12px;
  border-left: 1px solid #dedede;

  .new-songs-pagination {
    @include absolute-center("left");

    bottom: 0;
  }
}
