.session-wrapper {
  grid-area: new-songs;
  padding-left: 12px;
  border-left: 1px solid #dedede;

  .session-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
