.partner-wrapper {
  grid-area: partners;

  &-inner {
    @include perfect-center;

    height: 100%;
    background-color: #eb23e3;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
  }
}
