.partner-wrapper {
  grid-area: partners;

  &-inner {
    display: flex;

    .partner-title {
      width: 70px;
      font-family: $secondaryFont;
      line-height: 50px;
      font-size: 16px;
      color: #666;
    }

    .partner-list {
      display: flex;
      padding-left: 20px;

      li {
        margin-left: 10px;
        border: 1px solid #dedede;

        img {
          width: 76px;
        }
      }
    }
  }
}
